@import "./../../../../scss/style";
section.privacy {
	padding-top: 100px;
	.container {
		flex-direction: column;
		gap: 20px;
		p {
			font-size: 18px;
			margin: 0;
		}
		table {
			border-collapse: collapse;
			tr {
				td {
					border: 1px solid $accent_red;
					padding: 4px;
					vertical-align: top;
				}
			}
		}
	}
	@include media-up(medium) {
		padding-top: 150px;
		.container {
			gap: 32px;
			p {
			}
			table {
				tr {
					td {
						padding: 12px;
					}
				}
			}
		}
	}
}