/* colors*/
/* breakpoints*/
section.with {
  padding-top: 100px; }
  section.with .container {
    flex-direction: column; }
    section.with .container h2 {
      text-align: center;
      width: 100%; }
    section.with .container .picture__block {
      display: flex; }
      section.with .container .picture__block picture {
        display: block; }
    section.with .container .with__block {
      display: flex;
      flex-direction: column;
      gap: 40px;
      position: relative;
      padding: 25px 20px;
      border-radius: 40px;
      background: rgba(51, 12, 17, 0.2);
      transform: translateY(-120px);
      margin-bottom: -120px; }
      section.with .container .with__block:before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 40px;
        padding: 1px;
        background: linear-gradient(28deg, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.56), rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.56));
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude; }
      section.with .container .with__block .block {
        display: flex;
        flex-direction: row;
        gap: 6px; }
        section.with .container .with__block .block .text {
          display: flex;
          flex-direction: column;
          gap: 6px; }
          section.with .container .with__block .block .text h5 {
            font-size: 16px; }
          section.with .container .with__block .block .text p {
            margin: 0;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #c6c6c6; }
    section.with .container .with__mini,
    section.with .container .with__maxi {
      display: none; }
  @media (min-width: 768px) {
    section.with {
      padding-top: 150px; }
      section.with .container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px 0;
        position: relative; }
        section.with .container h2 {
          text-align: left;
          width: 100%; }
        section.with .container .picture__block {
          position: absolute;
          right: 0;
          top: -10px;
          z-index: 1; }
          section.with .container .picture__block picture {
            max-width: 656px; }
        section.with .container .with__block {
          transform: translateY(0);
          margin-bottom: 0;
          flex-direction: column;
          flex: 0 0 652px;
          position: relative;
          z-index: 2;
          height: max-content;
          order: 1;
          padding: 40px;
          gap: 40px; }
          section.with .container .with__block .block .text {
            gap: 16px; }
            section.with .container .with__block .block .text h5 {
              font-size: 24px; }
            section.with .container .with__block .block .text p {
              font-size: 18px; }
        section.with .container .with__mini {
          display: block;
          position: absolute;
          z-index: -1;
          top: 15%;
          left: 60%;
          width: 289px;
          height: 289px;
          transform: translateX(-50%); }
        section.with .container .with__maxi {
          display: block;
          position: absolute;
          z-index: -2;
          top: -5%;
          left: 60%;
          width: 583px;
          height: 719px;
          transform: translateX(-50%); } }

/*# sourceMappingURL=style.css.map */
