@import "./../../../../scss/style";
section.team {
	padding-top: 100px;
	.container {
		flex-direction: column;
		.founders__block {
			display: flex;
			flex-direction: column;
			gap: 50px;
			width: 100%;
			h2 {
				text-align: center;
			}
			.founder {
				display: flex;
				flex-direction: column;
				gap: 20px;
				picture {
					background: linear-gradient(rgba($footer_grad, 0), rgba($footer_grad, 0), rgba($footer_grad, 1), rgba($footer_grad, 1));
					transform: skewY(15deg);
					overflow: hidden;
					border-radius: 20px;
					img {
						display: block;
						transform: skewY(-15deg) translateY(10%) scale(1.1);
					}
				}
				.info {
					display: flex;
					flex-direction: column;
					gap: 25px;
					max-width: 509px;
					margin-top: 30px;
					h3 {
					}
					ul {
						list-style: none;
						margin: 0;
						padding: 0;
						display: flex;
						flex-direction: column;
						gap: 12px;
						li {
							display: flex;
							flex-direction: row;
							gap: 4px;
							font-size: 18px;
							line-height: 25px;
							font-weight: 400;
							color: $light_gray;
							svg {
								min-width: 19px;
								margin-top: 3px;
							}
						}
					}
					.social {
						display: flex;
						flex-direction: row;
						gap: 12px;
						.link {
							@include default_icon($grad_one_red, $grad_two_red);
							display: flex;
							justify-content: center;
							align-items: center;
							svg {
								path {
									@include default_transition(.2s);
								}
							}
							&:hover {
								background: $white;
								svg {
									path {
										fill: $accent_red;
									}
								}
							}
						}
					}
				}
				&:nth-child(2n - 1) {
					picture {
						transform: skewY(-15deg);
						img {
							transform: skewY(15deg) translateY(10%) scale(1.1);
						}
					}
					.info {
						h3 {
						}
						ul {
							li {
								svg {
								}
							}
						}
						.social {
							.link {
								svg {
									path {
									}
								}
								&:hover {
									svg {
										path {
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.team__block {
			display: none;
		}
	}
	@include media-up(medium) {
		padding-top: 150px;
		overflow: hidden;
		.container {
			.founders__block {
				gap: 10px;
				h2 {
					text-align: left;
				}
				.founder {
					flex-direction: row;
					align-items: center;
					gap: 70px;
					picture {
						order: 1;
						min-width: 430px;
					}
					.info {
						order: 2;
						margin-top: 0;
						h3 {
						}
						ul {
							li {
								svg {
								}
							}
						}
						.social {
							.link {
								svg {
									path {
									}
								}
								&:hover {
									svg {
										path {
										}
									}
								}
							}
						}
					}
					&:nth-child(2n + 1) {
						justify-content: flex-end;
						picture {
							order: 2;
						}
						.info {
							order: 1;
						}
					}
				}
			}
			.team__block {
				padding-top: 80px;
				display: flex;
				flex-direction: column;
				gap: 50px;
				.caption {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					h2 {
					}
					.nav {
						display: flex;
						flex-direction: row;
						gap: 50px;
						button {
							border-radius: 4px;
							padding: 10px;
							width: 46px;
							height: 46px;
							display: flex;
							justify-content: center;
							align-items: center;
							background: radial-gradient($grad_one_red, $grad_two_red);
							border: none;
							&.owl-next {
								transform: rotate(180deg);
							}
							&.disabled {
								background: $gray;
								svg {
									path {
										fill: #969696;
									}
								}
							}
						}
					}
				}
				.team-carousel {
					width: 130%;
					.member {
						picture {
							width: 488px;
							display: block;
							source {
							}
							img {
								width: 488px;
							}
						}
					}
				}
			}
		}
	}
}