@mixin default-transition($time) {
	-webkit-transition: all $time linear;
	transition: all $time linear;
}
@mixin default_btn($one, $two, $three, $four) {
	padding: 12px 16px;
	border-radius: 100px;
	background: $one;
	color: $two;
	border: 1px solid $two;
	cursor: pointer;
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	@include default-transition(.2s);
	&:focus {
		background: $three;
		color: $white;
	}
	@include media-up(small) {
	}
	@include media-up(large) {
		&:hover {
			background: $yellow;
		}
	}
}