@import "./../../../../scss/style";
section.reviews {
	padding-top: 100px;
	overflow: hidden;
	.container {
		flex-direction: column;
		.reviews__block {
			display: flex;
			flex-direction: column;
			gap: 50px;
			.caption {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				h2 {
					text-align: center;
					width: 100%;
				}
				.nav {
					display: none;
					button {
						&.owl-next {
						}
						&.disabled {
							svg {
								path {
								}
							}
						}
					}
				}
			}
			.reviews-carousel {
				.review {
					position: relative;
					background: rgba($advantages, .3);
					display: flex;
					flex-direction: column;
					padding: 25px 20px;
					&:after {
						content: '';
						position: absolute;
						z-index: -1;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						border-radius: 20px;
						padding: 1px; 
						background:linear-gradient(28deg, rgba($white, 0), rgba($white, 1), rgba($white, 0), rgba($white, .56), rgba($white, .48), rgba($white, .56)); 
						-webkit-mask: 
						linear-gradient(#fff 0 0) content-box, 
						linear-gradient(#fff 0 0);
						-webkit-mask-composite: xor;
						mask-composite: exclude;
					}
					.top {
						picture {
							width: 80px;
							height: 80px;
							display: inline-block;
							margin-bottom: 20px;
							source {
							}
							img {
							}
						}
						h2 {
							color: $white;
						}
					}
					.bottom {
					}
				}
				.owl-dots {
					background: $gray;
					border-radius: 1000px;
					height: 8px;
					margin-top: 18px;
					display: flex;
					justify-content: space-between;
					button {
						display: inline-flex;
						height: 8px;
						border: 0;
						position: relative;
						top: 0;
						flex: 1 0 max-content;
						span {
							display: inline-block;
							height: 100%;
							width: 100%;
							position: absolute;
							top: 0;
							left: 0;
						}
						&.active {
							span {
								background: $accent_red;
								border-radius: 1000px;
							}
						}
					}
				}
			}
		}
	}
	@include media-up(medium) {
		padding-top: 150px;
		.container {
			.reviews__block {
				.caption {
					h2 {
						text-align: left;
					}
					.nav {
						display: flex;
						flex-direction: row;
						gap: 50px;
						button {
							border-radius: 4px;
							padding: 10px;
							width: 46px;
							height: 46px;
							display: flex;
							justify-content: center;
							align-items: center;
							background: radial-gradient($grad_one_red, $grad_two_red);
							border: none;
							&.owl-next {
								transform: rotate(180deg);
							}
							&.disabled {
								background: $gray;
								svg {
									path {
										fill: #969696;
									}
								}
							}
						}
					}
				}
				.reviews-carousel {
					.review {
						max-height: 398px;
						overflow: hidden;
						.top {
							picture {
								source {
								}
								img {
								}
							}
							h5 {
							}
							p {
							}
						}
						.bottom {
							margin: 0;
							-webkit-line-clamp: 9;
							display: -webkit-box;
							-webkit-box-orient: vertical;
							overflow: hidden;
						}
					}
					.owl-dots {
						display: none;
					}
				}
			}
		}
	}
}