@import "./../scss/style";
footer {
	background: $sb;
	padding: 48px 0;
	position: relative;
	.container {
		flex-direction: column;
		gap: 64px;
		.top {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 64px;
			img {
			}
			.contacts {
				display: flex;
				flex-direction: column;
				gap: 48px;
				.contact__block {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 8px;
					a {
						color: $white;
						font-weight: 700;
						font-size: 16px;
						line-height: 24px;
						letter-spacing: 0.02em;
					}
					span {
						font-size: 14px;
						line-height: 20px;
						color: $white-70;
					}
				}
			}
		}
		.bottom {
			display: flex;
			flex-direction: column;
			gap: 32px;
			.license {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 24px;
				a {
					font-size: 14px;
					line-height: 20px;
					letter-spacing: 0.02em;
					text-decoration: underline;
					color: $white;
				}
				.licence__block {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 8px;
					font-size: 14px;
					line-height: 20px;
					color: $white;
					.caption {
						text-align: center;
					}
					.licence__number {
						font-weight: 700;
					}
				}
			}
			.copyright {
				font-size: 14px;
				line-height: 20px;
				color: $white-50;
				text-align: center;
			}
		}
	}
	svg {
		position: absolute;
		z-index: 0;
		top: 50%;
		left: 0;
		right: 0;
		width: 100%;
		transform: translateY(-50%);
	}
	@include media-up(small) {
		.container {
			.top {
				img {
				}
				.contacts {
					.contact__block {
						a {
						}
						span {
						}
					}
				}
			}
			.bottom {
				.license {
					a {
					}
					.licence__block {
						.caption {
						}
						.licence__number {
						}
					}
				}
				.copyright {
				}
			}
		}
	}
	@include media-up(medium) {
		.container {
			gap: 44px;
			.top {
				gap: 32px;
				img {
				}
				.contacts {
					flex-direction: row;
					justify-content: space-between;
					.contact__block {
						a {
						}
						span {
						}
					}
				}
			}
			.bottom {
				.license {
					a {
					}
					.licence__block {
						flex-direction: row;
						gap: 8px;
						.caption {
						}
						.licence__number {
						}
					}
				}
				.copyright {
				}
			}
		}
		svg {
			path {
				stroke-width: 1;
			}
		}
	}
	@include media-up(xmedium) {
		padding: 40px 0 17px;
		.container {
			gap: 80px;
			.top {
				gap: 80px;
				img {
					width: 264px;
					height: 56px;
				}
				.contacts {
					width: 100%;
					.contact__block {
						gap: 16px;
						a {
							font-size: 24px;
							line-height: 28px;
							letter-spacing: unset;
						}
						span {
							font-size: 16px;
							line-height: 24px;
							letter-spacing: 0.02em;
						}
					}
				}
			}
			.bottom {
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-end;
				.license {
					align-items: flex-start;
					gap: 32px;
					a {
						font-size: 16px;
						line-height: 24px;
					}
					.licence__block {
						font-size: 16px;
						line-height: 24px;
						.caption {
						}
						.licence__number {
						}
					}
				}
				.copyright {
					font-size: 16px;
					line-height: 24px;
				}
			}
		}
	}
	@include media-up(large) {
		.container {
			.top {
				img {
				}
				.contacts {
					.contact__block {
						a {
						}
						span {
						}
					}
				}
			}
			.bottom {
				.license {
					a {
					}
					.licence__block {
						.caption {
						}
						.licence__number {
						}
					}
				}
				.copyright {
				}
			}
		}
	}
	@include media-up(xlarge) {
		.container {
			.top {
				img {
				}
				.contacts {
					.contact__block {
						a {
						}
						span {
						}
					}
				}
			}
			.bottom {
				.license {
					a {
					}
					.licence__block {
						.caption {
						}
						.licence__number {
						}
					}
				}
				.copyright {
				}
			}
		}
	}
	@include media-up(wide) {
		.container {
			.top {
				img {
				}
				.contacts {
					.contact__block {
						a {
						}
						span {
						}
					}
				}
			}
			.bottom {
				.license {
					a {
					}
					.licence__block {
						.caption {
						}
						.licence__number {
						}
					}
				}
				.copyright {
				}
			}
		}
	}
}