@import "./../scss/style";
header {
	position: fixed;
	z-index: 5;
	top: 0;
	width: 100%;
	background: $white;
	.container {
		.header__line {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			.actions {
				display: flex;
				gap: 4px;
				.button {
					display: none;
				}
				.basket,
				.menu__block {
					display: inline-flex;
					justify-content: center;
					align-items: center;
					width: 40px;
					height: 40px;
				}
			}
		}
	}
	@include media-down(medium) {
		.container {
			padding: 12px 26px;
		}
	}
	@include media-up(medium) {
		.container {
			.header__line {
				padding: 16px 60px;
				.actions {
					.button {
						display: block;
					}
				}
			}
		}
	}
	@include media-up(xmedium) {
		top: 32px;
		.container {
			.header__line {
				position: relative;
				.logo {
					position: absolute;
					top: 50%;
					left: 24px;
					transform: translateY(-50%);
				}
				.actions {
					width: 100%;
					justify-content: center;
					.button {
						position: absolute;
						right: 24px;
						top: 50%;
						transform: translateY(-50%);
					}
					.basket {
						display: none;
					}
					.menu__block {
						order: 1;
						width: unset;
					}
				}
			}
		}
	}
	@include media-up(xmedium) {
		background: transparent;
		.container {
			.header__line {
				background: $white;
				border-radius: 100px;
				padding: 16px 24px;
			}
		}
	}
	@include media-up(large) {
		top: 32px;
		.container {
			.header__line {
			}
		}
	}
	@include media-up(wide) {
		.container {
			.header__line {
				padding: 16px 160px;
			}
		}
	}
}