@import "./../scss/style";
section.legal {
	padding: 48px 0 64px;
	.container {
		flex-direction: column;
		gap: 64px;
		.legal__filters {
			display: flex;
			flex-direction: column;
			gap: 32px;
			padding: 0 12px;
			h1 {
				color: $sb-light;
			}
			.legal__filters-block {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				gap: 16px 0;
				.filter {
					padding: 8px 24px;
					font-size: 16px;
					line-height: 24px;
					letter-spacing: 0.02em;
					color: $sb;
					width: max-content;
					cursor: pointer;
					&.active {
						background: rgba($sb-light, .2);
						border-radius: 8px;
					}
				}
			}
		}
		.info {
			padding: 0 12px;
			.info__block {
				display: none;
				flex-direction: column;
				gap: 48px;
				h2 {
					color: $sb-light;
				}
				.info__block-text {
					display: flex;
					flex-direction: column;
					gap: 24px;
					h3 {
						color: $sb;
					}
					p {
						color: $sb;
						margin: 0;
						font-size: 16px;
						line-height: 24px;
						letter-spacing: 0.02em;
					}
					.block {
						h3 {
							margin-bottom: 24px;
						}
					}
				}
				&.active {
					display: flex;
				}
			}
		}
	}
	@include media-up(small) {
		.container {
			.legal__filters {
				h1 {
				}
				.legal__filters-block {
					.filter {
						&.active {
						}
					}
				}
			}
			.info {
				.info__block {
					h2 {
					}
					.info__block-text {
						h3 {
						}
						p {
						}
						.block {
							h3 {
							}
						}
					}
					&.active {
					}
				}
			}
		}
	}
	@include media-up(medium) {
		.container {
			.legal__filters {
				h1 {
				}
				.legal__filters-block {
					flex-direction: row;
					flex-wrap: wrap;
					.filter {
						&.active {
						}
					}
				}
			}
			.info {
				.info__block {
					gap: 32px;
					h2 {
					}
					.info__block-text {
						h3 {
						}
						p {
						}
						.block {
							h3 {
							}
						}
					}
					&.active {
					}
				}
			}
		}
	}
	@include media-up(xmedium) {
		.container {
			.legal__filters {
				h1 {
				}
				.legal__filters-block {
					gap: 0;
					.filter {
						&.active {
						}
					}
				}
			}
			.info {
				.info__block {
					h2 {
					}
					.info__block-text {
						h3 {
						}
						p {
						}
						.block {
							h3 {
							}
						}
					}
					&.active {
					}
				}
			}
		}
	}
	@include media-up(large) {
		.container {
			.legal__filters {
				h1 {
				}
				.legal__filters-block {
					.filter {
						&.active {
						}
					}
				}
			}
			.info {
				.info__block {
					h2 {
					}
					.info__block-text {
						h3 {
						}
						p {
						}
						.block {
							h3 {
							}
						}
					}
					&.active {
					}
				}
			}
		}
	}
	@include media-up(xlarge) {
		.container {
			.legal__filters {
				h1 {
				}
				.legal__filters-block {
					.filter {
						&.active {
						}
					}
				}
			}
			.info {
				.info__block {
					h2 {
					}
					.info__block-text {
						h3 {
						}
						p {
						}
						.block {
							h3 {
							}
						}
					}
					&.active {
					}
				}
			}
		}
	}
	@include media-up(wide) {
		.container {
			.legal__filters {
				h1 {
				}
				.legal__filters-block {
					.filter {
						&.active {
						}
					}
				}
			}
			.info {
				.info__block {
					h2 {
					}
					.info__block-text {
						h3 {
						}
						p {
						}
						.block {
							h3 {
							}
						}
					}
					&.active {
					}
				}
			}
		}
	}
}