@import "./../scss/style";
section.legal {
	padding: 48px 0 64px;
	.container {
		flex-direction: column;
		gap: 64px;
		.legal__filters {
			display: flex;
			flex-direction: column;
			gap: 32px;
			h1 {
				color: $sb-light;
			}
			.legal__filters-block {
				display: flex;
				flex-direction: column;
				.filter {
					padding: 8px 24px;
					font-size: 16px;
					line-height: 24px;
					letter-spacing: 0.02em;
					color: $sb;
					width: max-content;
					cursor: pointer;
					&.active {
						background: rgba($sb-light, .2);
						border-radius: 8px;
					}
				}
			}
		}
		.info {
			.info__block {
				display: none;
				h2 {
					color: $sb-light;
				}
				h3 {
					color: $sb;
				}
				p {
					color: $sb;
				}
				&.active {
					display: block;
				}
			}
		}
	}
	@include media-up(small) {
		.container {
			.legal__filters {
				h1 {
				}
				.legal__filters-block {
					.filter {
						&.active {
						}
					}
				}
			}
			.info {
				.info__block {
					h2 {
					}
					h3 {
					}
					&.active {
					}
				}
			}
		}
	}
	@include media-up(medium) {
		.container {
			.legal__filters {
				h1 {
				}
				.legal__filters-block {
					flex-direction: row;
					flex-wrap: wrap;
					.filter {
						&.active {
						}
					}
				}
			}
			.info {
				.info__block {
					h2 {
					}
					h3 {
					}
					&.active {
					}
				}
			}
		}
	}
	@include media-up(xmedium) {
		.container {
			.legal__filters {
				h1 {
				}
				.legal__filters-block {
					.filter {
						&.active {
						}
					}
				}
			}
			.info {
				.info__block {
					h2 {
					}
					h3 {
					}
					&.active {
					}
				}
			}
		}
	}
	@include media-up(large) {
		.container {
			.legal__filters {
				h1 {
				}
				.legal__filters-block {
					.filter {
						&.active {
						}
					}
				}
			}
			.info {
				.info__block {
					h2 {
					}
					h3 {
					}
					&.active {
					}
				}
			}
		}
	}
	@include media-up(xlarge) {
		.container {
			.legal__filters {
				h1 {
				}
				.legal__filters-block {
					.filter {
						&.active {
						}
					}
				}
			}
			.info {
				.info__block {
					h2 {
					}
					h3 {
					}
					&.active {
					}
				}
			}
		}
	}
	@include media-up(wide) {
		.container {
			.legal__filters {
				h1 {
				}
				.legal__filters-block {
					.filter {
						&.active {
						}
					}
				}
			}
			.info {
				.info__block {
					h2 {
					}
					h3 {
					}
					&.active {
					}
				}
			}
		}
	}
}