@import "./../scss/style";
.modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 35px;
	padding: 40px 0;
	margin: 0;
	max-width: 600px;
	min-width: 328px;
	position: fixed;
	z-index: -1;
	background: $dark_gray;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	right: 0;
	transform: translate(-50%, -100%);
	opacity: 0;
	@include default_transition(.2s);
	.actions {
		position: absolute;
		top: 8px;
		width: calc(100% - 32px);
		display: flex;
		justify-content: flex-end;
		.modal__close {
			display: inline-flex;
			cursor: pointer;
			padding: 8px;
			border-radius: 4px;
		}
	}
	.caption {
		margin: 0 auto 6px;
		font-weight: 400;
		font-size: 32px;
		line-height: 38px;
		font-family: "TacticSans", sans-serif;
	}
	&.open {
		z-index: 2;
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}