@import "./../../../../scss/style";
section.video {
	padding-top: 100px;
	.container {
		flex-direction: column;
		.video__block {
			padding-top: 80px;
			display: flex;
			flex-direction: column;
			gap: 50px;
			.caption {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				h2 {
					text-align: center;
				}
				.nav {
					display: none;
					button {
						&.owl-next {
						}
						&.disabled {
							svg {
								path {
								}
							}
						}
					}
				}
			}
			.video-carousel {
				.member {
					picture {
						display: block;
						source {
						}
						img {
						}
					}
				}
			}
		}
	}
	@include media-up(medium) {
		padding-top: 150px;
		overflow: hidden;
		.container {
			.video__block {
				.caption {
					h2 {
						text-align: left;
					}
					.nav {
						display: flex;
						flex-direction: row;
						gap: 50px;
						button {
							border-radius: 4px;
							padding: 10px;
							width: 46px;
							height: 46px;
							display: flex;
							justify-content: center;
							align-items: center;
							background: radial-gradient($grad_one_red, $grad_two_red);
							border: none;
							&.owl-next {
								transform: rotate(180deg);
							}
							&.disabled {
								background: $gray;
								svg {
									path {
										fill: #969696;
									}
								}
							}
						}
					}
				}
				.video-carousel {
					width: 130%;
					.member {
						picture {
//							width: 696px;
							source {
							}
							img {
//								width: 696px;
							}
						}
					}
				}
			}
		}
	}
}