@import "./../../../../scss/style";
.menu__block {
	.menu__button {
		position: relative;
		z-index: 2;
		display: inline-flex;
		cursor: pointer;
	}
	.header__menu {
		@include default_transition(.2s);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: max-content;
		ul {
			li {
				a {
				}
			}
		}
	}
	&.open {
		.menu__button {
		}
		.header__menu {
			display: flex;
			ul {
				li {
					a {
					}
				}
			}
		}
	}
	@include media-up(medium) {
		.menu__button {
		}
		.header__menu {
			ul {
				li {
					a {
					}
				}
			}
		}
	}
}