@import "./../../../../scss/style";
.menu__block {
	.menu__button {
		position: relative;
		z-index: 2;
		display: inline-flex;
		cursor: pointer;
		@include default_icon($grad_one_red, $grad_two_red);
	}
	.header__menu {
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 35px;
		padding: 0;
		margin: 0;
		position: fixed;
		z-index: 2;
		background: $dark_gray;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: translateY(-100%);
		@include default_transition(.2s);
		.actions {
			position: absolute;
			top: 8px;
			width: calc(100% - 32px);
			display: flex;
			justify-content: space-between;
		}
		ul {
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			list-style: none;
			gap: 36px;
			li {
				a {
					font-weight: 500;
					font-size: 24px;
					font-family: "TacticSans", sans-serif;
					color: #fff;
				}
			}
		}
		.social__links {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			gap: 31px;
			.link {
				@include default_icon($grad_one_red, $grad_two_red);
				display: flex;
				justify-content: center;
				align-items: center;
				svg {
					path {
						@include default_transition(.2s);
					}
				}
				&:hover {
					background: $white;
					svg {
						path {
							fill: $accent_red;
						}
					}
				}
			}
		}
		.order__btn {
			margin-top: 29px;
			@include default_btn($accent_red, $dark_red);
			font-family: "TacticSans", sans-serif;
			.zero-up {
				display: inline-block;
			}
			.medium-up {
				display: none;
			}
		}
	}
	&.open {
		.menu__button {
		}
		.header__menu {
			display: flex;
			@include default_transition(.2s);
			transform: translateY(0%);
			ul {
				li {
					a {
					}
				}
			}
			.social__links {
				.link {
				}
			}
			.order__btn {
			}
		}
	}
	@include media-up(medium) {
		.menu__button {
			display: none;
		}
		.header__menu {
			position: relative;
			transform: translateY(0);
			display: flex;
			flex-direction: row;
			gap: 40px;
			background: transparent;
			.actions {
				display: none;
			}
			ul {
				flex-direction: row;
				gap: 36px;
				order: 1;
				li {
					a {
						font-size: 16px;
					}
				}
			}
			.social__links {
				order: 3;
				.link {
				}
			}
			.order__btn {
				order: 2;
				background: transparent;
				border: none;
				margin: 0;
				padding: 0;
				width: unset;
				font-weight: 500;
				border-bottom: 1px solid $white;
				border-radius: 0;
				.zero-up {
					display: none;
				}
				.medium-up {
					display: inline-block;
				}
			}
		}
	}
}