@import "./../../../../scss/style";
section.not-found {
	padding-bottom: 160px;
	.container {
		position: relative;
		flex-direction: column;
		overflow: hidden;
		h1 {
			font-size: 200px;
			line-height: 1;
			color: $sb-light;
			margin: 0 auto;
		}
		picture {
			position: absolute;
			z-index: 1;
			top: 33px;
			left: 50%;
			width: max-content;
			transform: translate(-64%, 0);
		}
		a {
			position: relative;
			z-index: 2;
			display: inline-block;
			width: max-content;
			margin: 260px auto 0;
			@include default_btn($sb-light, $white, $white, $white, $white);
			padding: 16px 24px;
		}
	}
	@include media-up(small) {
		.container {
			h1 {
			}
			picture {
			}
			a {
			}
		}
	}
	@include media-up(medium) {
		.container {
			h1 {
			}
			picture {
			}
			a {
			}
		}
	}
	@include media-up(xmedium) {
		.container {
			overflow: visible;
			h1 {
			}
			picture {
				top: 10px;
			}
			a {
			}
		}
	}
	@include media-up(large) {
		.container {
			h1 {
			}
			picture {
			}
			a {
				margin-top: 340px;
			}
		}
	}
	@include media-up(xlarge) {
		.container {
			h1 {
			}
			picture {
				top: -15px;
				left: 53%;
			}
			a {
			}
		}
	}
	@include media-up(wide) {
		.container {
			h1 {
			}
			picture {
				max-width: 1231px;
			}
			a {
			}
		}
	}
}